body {
  margin: 0;
  font-family: sans-serif;
}

#root {


  padding: 2rem;
  padding-top: 70px; /* Adjust if your navbar height changes */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
